<h1>Shop Meggings</h1>

<div class="container item-container">
	<div class-"row">	
		<% @items.each do |item| %>
	  		<div class="col-md-3 col-s-6 col-xs-12 item-box"> 
	  			<div class="image-box">		
						<%=link_to image_tag(item.photo_url, size: '200x300'), item %>
					</div>
					<p class= 'items description'>
						Name: <%= item.name%><br />
						<!-- Color: <%#= item.color %><br /> -->
						Price:<%= item.price %></p>
						<span id="image-box-span"><%= link_to "View Details", item, :id => "view-details" %></span><br /> <br /><br /> 
						<!-- <span id="image-box-span"><%#= link_to "View Details", item, :id => "view-details" %></span><br /> <br /><br /> -->
					</div> 

		<%end%> 
		
		<%#=button_to "Add Item to cart",add_item_path(@item), method: :post %>
	</div> 
  

</div>