@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

// ------------------------------ nav index -----------------------------------


.navbar-link {
	margin-right: 15px;
}
.navbar {
	border-bottom: 1px solid black;
  background-color: white;
  height:50px;
}
.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: -2px;
  text-decoration: none;
.logo:hover {
  text-decoration: none;
}

}

// ----------------------------------welcome index ---------------------------------

body {
  background-color: #dbdbdb;
}

#homepage-slider {
  margin-top: -18px;
  .caption1 {
    margin-left: -260px;
    margin-bottom: -20px;
    float: left;
    width: 1250px;
    height: 150px;
    background-color: rgba(20,20,20,.5);
    .c1 {
      text-align: left;
      color:white;
      margin-left: 20px;
      z-index: 10;
    }
    #c1-header {
      font-size: 60px;
    }
  }

}

// -------------------------------------items index--------------------------------------

.item-box {
  text-align: center;
}
.items {
  text-align: center;
}
.image-box {
  z-index: 10;
  width: 200px;
  height: 300px;
  margin: 0 auto;

}

.image-box:hover {
  opacity: .3;  

}

  // border: 1px solid black;
  // #image-box-span{
  //   text-align: center;
  //   opacity: 0;
  //   position: relative;
  //   top: 124px;
  //   left: 64px;
  // }

// ----------------------------------------Shopping_Cart_Items Edit -----------------------
.sc-items-details {
  margin-left: 30px;
}


.sc-items-list {
  border: 1px solid black;
}
.deleteButton {
  margin-left: 30px;
}