


<%if current_user %>
	<p class="navbar-text navbar-right"> 
 		<%= link_to 'Sign Out', auths_path, method: :delete, class: "navbar-link" %>
	</p>
 	<p class="navbar-text navbar-right">
  		<%= current_user ? "Hello "+ current_user.first_name.capitalize + "!": "" %>
 	</p>
			
				
 <%else %>
		
 	<p class="navbar-text navbar-right"> <%= link_to 'Sign in  | Sign Up',"#", class: "navbar-link", 'data-toggle' =>"modal", 'data-target'=>"#signin" %></p>
 	<!-- <p class="navbar-text navbar-right"> <%#= link_to 'Sign In', new_auth_path, class: "navbar-link" %></p> -->
 	<!-- <p class="sign-in-up" id="sign-in"><%#= link_to 'Sign Up', new_user_path %><p> -->
 <%end%>


