<div class= "navbar">
<h1 class="navbar-text navbar-left">Manx</h1>


<%if current_user %>
	<p class="navbar-text navbar-right"> 
 		<%= link_to 'Sign Out', auths_path, method: :delete, class: "navbar-link" %>
	</p>
 	<p class="navbar-text navbar-right">
  		<%= current_user ? "Hello "+ current_user.first_name.capitalize + "!": "" %>
 	</p>
			
				
 <%else %>
		

 	
 	
 <%end%>


</div>

