<div class= "navbar">
<h1 class="navbar-text navbar-left">Manx</h1>


<%if current_user %>
	<p class="navbar-text navbar-right"> 
 		<%= link_to 'Sign Out', auths_path, method: :delete, class: "navbar-link" %>
	</p>
 	<p class="navbar-text navbar-right">

  	<%= current_user ? "Hello "+ current_user.first_name.capitalize + "!": "" %><br />

        <p class="navbar-text navbar-right sc-glyphicon">
        <span class="glyphicon glyphicon-shopping-cart"></span>
          
          <% sc = ShoppingCart.find(session[:shopping_cart_id]) %>

          <%=link_to sc.shopping_cart_items.count.to_s + " item(s)", edit_shopping_cart_path(sc) %>
          
        </p>
      <%#= "Welcome " + current_user.username + "!" %><br />

 
          

 	</p>
<%else %>		
				

		

 	
 	
 <%end%>


</div>

